Name: Cheska Ysabelle G. Young

Course: BSFIN

Section: DATA100 S17

References used: w3resource, google colab

# Zomato Exercise

Zomato is a restaurant aggregator website. The platform provides information, menus and user-reviews of restaurants as well as food delivery options from partner restaurants in select cities. You have been provided 3 datasets:

- zomato.csv contains restaurant information like average_cost_for_two, cuisines
- location.csv contains location of the restaurants like address, city, locality & etc
- ratings.csv contains aggregate rating for each restaurant

The different files are connected using the `id` columns which can be found in the different files. The id column is a unique identifier to represent a restaurant. You can use this to **merge** the different files.

In [31]:
import pandas as pd
import numpy as np

1. Merge the zomato, location & ratings file into a signle dataframe and store it to the `merged_df` variable **(3pts)**

In [32]:
zomato_df = pd.read_csv('zomato.csv')
location_df = pd.read_csv('location.csv')
ratings_df = pd.read_csv('ratings.csv')
merged_df = pd.merge(zomato_df, location_df, on='id')
merged_df = pd.merge(merged_df, ratings_df, on='id')

In [33]:
assert (6830, 35)==merged_df.shape

cols = ['id', 'address', 'city', 'city_id', 'country_id', 'latitude',
       'locality', 'locality_verbose', 'longitude', 'zipcode',
       'aggregate_rating', 'rating_color', 'rating_text', 'votes',
       'average_cost_for_two', 'book_url', 'cuisines', 'currency', 'deeplink',
       'events_url', 'featured_image', 'has_online_delivery',
       'has_table_booking', 'include_bogo_offers', 'is_book_form_web_view',
       'is_delivering_now', 'is_table_reservation_supported',
       'is_zomato_book_res', 'menu_url', 'mezzo_provider', 'name',
       'photos_url', 'price_range', 'thumb', 'url']

assert sorted(merged_df.columns) == sorted(cols)

2. Create a function that returns the average aggregate rating for each city. Expected returned value is a Series datatype which contains name of city as index and average aggregate rating as value. **(2pts)**

In [34]:
def exercise_2(merged_df):
    avg_ratings = merged_df.groupby('city')['aggregate_rating'].mean()
    return avg_ratings

average_ratings_by_city = exercise_2(merged_df)
print(average_ratings_by_city)

city
Caloocan City       1.953509
Las Piñas City      2.855738
Makati City         3.250512
Malabon City        1.558333
Mandaluyong City    2.951919
Manila              2.842652
Marikina City       2.672512
Muntinlupa City     2.962682
Parañaque City      3.130100
Pasay City          3.302075
Pasig City          2.916086
Pateros City        1.740000
Quezon City         2.887946
San Juan City       3.098462
Tagaytay City       2.959259
Taguig City         3.234105
Valenzuela City     1.890741
Name: aggregate_rating, dtype: float64

In [35]:
res_series = exercise_2(merged_df)
assert True == np.isclose(3.302075, res_series[res_series.index == 'Pasay City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]
assert True == np.isclose(1.890741, res_series[res_series.index == 'Valenzuela City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]
assert True == np.isclose(1.558333, res_series[res_series.index == 'Malabon City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]

3. Using the apply function of pandas convert the rating_text to a numeric equivalent. You are to introduce a new column in merged_df called `rating_numeric` which is based on the value from rating_text: **(3pts)**

Excellent = 5 <br>
Very Good = 4 <br>
Good = 3 <br>
Average = 2 <br>
Poor = 1 <br>
Not rated = 0 <br>

In [36]:
def convert_rating_text_to_numeric(rating_text):
    rating_map = {
        'Excellent': 5,
        'Very Good': 4,
        'Good': 3,
        'Average': 2,
        'Poor': 1,
        'Not rated': 0
    }
    return rating_map.get(rating_text, 0)
merged_df['rating_numeric'] = merged_df['rating_text'].apply(convert_rating_text_to_numeric)
print(merged_df[['rating_text', 'rating_numeric']])

     rating_text  rating_numeric
0      Excellent               5
1      Excellent               5
2      Very Good               4
3      Very Good               4
4      Excellent               5
...          ...             ...
6825     Average               2
6826     Average               2
6827   Not rated               0
6828        Good               3
6829   Not rated               0

[6830 rows x 2 columns]

In [37]:
assert 868 == merged_df[merged_df.rating_numeric == 0].shape[0]
assert True == ('rating_numeric' in merged_df.columns)

4. Create a function which filters the merged dataframe to only contain rows coming in from a specific city. Expected returned value is a dataframe **(2pts)**

In [38]:
def exercise_4(merged_df, city):
    """
    Filters the merged DataFrame to only include rows for a city specified by the user.

    Parameters:
    merged_df (pd.DataFrame): The DataFrame to filter.

    Returns:
    pd.DataFrame: A DataFrame containing only the rows for the specified city.
    """
    filtered_df = merged_df[merged_df['city'].str.lower() == city.lower()]
    return filtered_df

In [39]:

assert 'Makati City' == exercise_4(merged_df, 'Makati City').city.unique()[0]
assert (976, 36) == exercise_4(merged_df, 'Makati City').shape

assert 'Mandaluyong City' == exercise_4(merged_df, 'Mandaluyong City').city.unique()[0]
assert (443, 36) == exercise_4(merged_df, 'Mandaluyong City').shape

assert (0, 36) == exercise_4(merged_df, 'Quezon  City').shape

In [40]:
filtered_makati = exercise_4(merged_df, 'Makati City')
print(filtered_makati.head())

          id  average_cost_for_two book_url                   cuisines  \
0    6316125                  1000      NaN            Japanese, Ramen
1   18409457                  1300      NaN  Korean, Grill, Korean BBQ
2    6307689                  1600      NaN         American, Filipino
7    6304287                  1200      NaN                   Japanese
10   6304833                   700      NaN                   Filipino

   currency                      deeplink  \
0         P   zomato://restaurant/6316125
1         P  zomato://restaurant/18409457
2         P   zomato://restaurant/6307689
7         P   zomato://restaurant/6304287
10        P   zomato://restaurant/6304833

                                           events_url  \
0   https://www.zomato.com/manila/mendokoro-ramenb...
1   https://www.zomato.com/manila/soban-k-town-gri...
2   https://www.zomato.com/manila/filling-station-...
7   https://www.zomato.com/manila/izakaya-kikufuji...
10  https://www.zomato.com/manila/manam-greenbelt-...

                                       featured_image  has_online_delivery  \
0   https://b.zmtcdn.com/data/reviews_photos/971/2...                    0
1   https://b.zmtcdn.com/data/res_imagery/18290970...                    0
2   https://b.zmtcdn.com/data/pictures/9/6307689/b...                    0
7   https://b.zmtcdn.com/data/res_imagery/6304287_...                    0
10  https://b.zmtcdn.com/data/pictures/chains/3/63...                    0

    has_table_booking  ...   latitude  \
0                   0  ...  14.560313
1                   0  ...  14.552137
2                   0  ...  14.563144
7                   0  ...  14.553708
10                  0  ...  14.551920

                                      locality  \
0                              Salcedo Village
1        Greenbelt 3, San Lorenzo, Makati City
2                                    Poblacion
7   Little Tokyo, Legaspi Village, Makati City
10       Greenbelt 2, San Lorenzo, Makati City

                                     locality_verbose   longitude  zipcode  \
0                        Salcedo Village, Makati City  121.024638      NaN
1   Greenbelt 3, San Lorenzo, Makati City, Makati ...  121.021325      NaN
2                              Poblacion, Makati City  121.029800   1210.0
7   Little Tokyo, Legaspi Village, Makati City, Ma...  121.014101      NaN
10  Greenbelt 2, San Lorenzo, Makati City, Makati ...  121.020485      NaN

   aggregate_rating rating_color rating_text votes  rating_numeric
0               4.9       3F7E00   Excellent  1394               5
1               4.6       3F7E00   Excellent   602               5
2               4.0       5BA829   Very Good   563               4
7               4.5       3F7E00   Excellent  1031               5
10              4.5       3F7E00   Excellent   700               5

[5 rows x 36 columns]

5. Create a function to filter the dataframe to only contain certain columns passed in the function. Expected returned value is a dataframe **(1pt)**

In [41]:
def exercise_5(merged_df, cols_to_filter):
    """
    Filters the merged DataFrame to only include specified columns.

    Parameters:
    merged_df (pd.DataFrame): The DataFrame to filter.
    cols_to_filter (list): A list of column names to keep in the DataFrame.

    Returns:
    pd.DataFrame: A DataFrame containing only the specified columns.
    """
    return merged_df[cols_to_filter]

In [42]:
cols = ['name', 'cuisines', 'city', 'aggregate_rating']
assert sorted(cols) == sorted(exercise_5(merged_df, cols).columns)
assert (6830, 4) == exercise_5(merged_df, cols).shape

cols = ['average_cost_for_two', 'book_url', 'cuisines', 'currency', 'deeplink',
       'events_url', 'featured_image', 'has_online_delivery',
       'has_table_booking', 'include_bogo_offers', 'is_book_form_web_view']
assert sorted(cols) == sorted(exercise_5(merged_df, cols).columns)
assert (6830, 11) == exercise_5(merged_df, cols).shape

6.  What is the most common restaurant name in the dataset? **(2pts)** Write down your answer and show code used to come up with the answer.

In [43]:
most_common_name = merged_df['name'].value_counts().idxmax()

most_common_count = merged_df['name'].value_counts().max()

print("The most common restaurant name is:", most_common_name)
print("It appears", most_common_count, "times in the dataset.")

The most common restaurant name is: Starbucks
It appears 99 times in the dataset.

7. Which restaurant has the most expensive average cost for two? **(2pts)** Write down your answer and show code used to come up with the answer.

In [44]:
merged_df['average_cost_for_two'] = pd.to_numeric(merged_df['average_cost_for_two'], errors='coerce')
most_expensive_restaurant = merged_df.sort_values(by='average_cost_for_two', ascending=False).iloc[0]

restaurant_name = most_expensive_restaurant['name']
average_cost = most_expensive_restaurant['average_cost_for_two']

print(f"The restaurant with the most expensive average cost for two is '{restaurant_name}' with an average cost of {average_cost}.")

The restaurant with the most expensive average cost for two is 'The Tasting Room' with an average cost of 10000.

8. How many restaurants do not have a zipcode? **(1pt)** Write down your answer and show code used to come up with the answer.

In [45]:
restaurants_without_zipcode = merged_df[merged_df['zipcode'].isnull() | (merged_df['zipcode'] == '')]
count_without_zipcode = restaurants_without_zipcode.shape[0]

print(f"There are {count_without_zipcode} restaurants without a zipcode.")

There are 6713 restaurants without a zipcode.

9. How many restaurants in the dataset allow online delivery? **(1pt)** Write down your answer and show code used to come up with the answer.

In [46]:
restaurants_with_online_delivery = merged_df[merged_df['has_online_delivery'] == 1]
count_with_online_delivery = restaurants_with_online_delivery.shape[0]

print(f"There are {count_with_online_delivery} restaurants that allow online delivery.")

There are 0 restaurants that allow online delivery.

10. Which locatlity has more expensive food? Poblacion or Salcedo Village? **(3pts)** Write down your answer and show code used to come up with the answer.

In [47]:
average_cost_poblacion = merged_df[merged_df['locality'] == 'Poblacion']['average_cost_for_two'].mean()
average_cost_salcedo = merged_df[merged_df['locality'] == 'Salcedo Village']['average_cost_for_two'].mean()

print(f"Average cost for two in Poblacion: {average_cost_poblacion}")
print(f"Average cost for two in Salcedo Village: {average_cost_salcedo}")

if average_cost_poblacion > average_cost_salcedo:
    more_expensive_locality = "Poblacion"
else:
    more_expensive_locality = "Salcedo Village"

print(f"The locality with more expensive food is: {more_expensive_locality}")

Average cost for two in Poblacion: 898.2142857142857
Average cost for two in Salcedo Village: 989.1025641025641
The locality with more expensive food is: Salcedo Village